.card-1{
    background-color: #0dccf2 !important;;
}

.card-2{
    background-color: #20cb98!important;;
}

.card-3{
    background-color: #6f42c2!important;;
}

.card-4{
    background-color: #20cb98!important;;
}

.card-5{
    background-color: #20cb98!important;;
}

.card-6{
    background-color: #20cb98!important;;
}
