.sidebar {
  background-color: #263238;
}

.navbar {
  background-color: #263238;
}

.logo {
  width: 80%;
  height: auto;
  padding: 10%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #3e729b !important;
}

.table-custom {
  background-color: #fff !important;
}

.btn-custom {
  color: #3e729b !important;
}

.rounded-imput {
  border-radius: 20px !important;
}
.rounded-select {
  border-radius: 20px !important;
}

.rounded-button {
  border-radius: 20px !important;
}

.foot-logo{
  opacity: 0.5;
  margin-bottom: 15px;
}