#no-border
{
    border-bottom: 0px
}

.login-container {
    width: 400px;
    margin: 100px auto;
  }


.bg {
    background-image: url(../img/bodybg.jpg);
    background-size: cover;
}

.md-outline.select-wrapper+label {
    top: .7em !important;
    z-index: 2 !important;
  }