.sidebar {
  background-color: #3e729a;
}

.logo {
  width: 80%;
  height: auto;
  padding: 10%;
}

.btn-primary {
  background-color: #3e729b !important;
}

.btn-primary:hover {
  border-color: #ffffff !important;
  border-style: solid;
  border-width: 1px;
}

.btn-circle:hover {
  background-color: #3e729b !important;
}

.btn-primary:visited {
  background-color: #3e729b !important;
}

.table-custom {
  background-color: #fff !important;
}

.rounded-imput {
  border-radius: 20px !important;
}
.rounded-select {
  border-radius: 20px !important;
}

.rounded-button {
  border-radius: 20px !important;
}

.foot-logo {
  opacity: 0.5;
  margin-bottom: 15px;
}
